@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>
<div class="container-fluid text-center">
    <div class="row">
        <h2>Delicious CRUD</h2>
        <div class="d-flex justify-content-center w-25 mx-auto">
            <a asp-action="DisplayNewDish">Add Dish</a>
            <span class="ms-1 me-1"> | </span>
            <p>Home</p>
        </div>
    </div>
    
        @foreach (Dish d in Model)
        {
            <div class="row">
                <div class="card text-bg-light shadow mb-3 mx-auto" style="max-width: 25rem;">
                    <div class="card-header">Chef: @d.Chef</div>
                    <div class="card-body">
                        <a href="/Dishes/@d.DishID" class="card-title">@d.Name</a>
                        <p class="card-text">Description: @d.Description</p>
                        <p class="card-text">Tastiness: @d.Tastiness</p>
                        <p class="card-text">Calories: @d.Calories</p>
                    </div>
                </div>
            </div>
        }
